/BooleanTrue.class
/BubbleSort.class
/Count.class
/CountChars.class
/DuplicateChar.class
/DuplivatValue.class
/EvenNumbers.class
/Factorial.class
/FindUpperCase.class
/IntToString.class
/MapTest.class
/NumberPalindrom.class
/ReverseString.class
/StringToInt.class
/Swap.class
/Swapnum.class
/ThreeDigit.class
/Trim.class
/Compare.class
